*.box
venv
.cache
.vagrant
*.log
__pycache__
*.azulinho
config/config.yaml
config/config.json
*.vdi
localhost
nixpkgs
shell_env
*.pyc
Railtrack
*.un~
*.box
mc
terraform*
tags
.terraform/
.pytest_cache
main.tf
