
# we use IP addresses for the most of the configuration in our services
# as we cannot yet rely on systemd to bring the different services online
# in the correct order.
# we also lack proper monitoring for some of those services to allow us
# to restart them on failure through systemd.
# addressing failures is likely to be enough to discard the dependencies
# between services, as these would restart until their dependencies were
# satisfied.
#
# [common:] contains properties available to every node
common: &common
  mesos_zk_node01: &mesos_zk_node01 '10.254.100.1' # mesos-zk-01.tinc-core-vpn
  mesos_zk_node02: &mesos_zk_node02 '10.254.100.2' # mesos-zk-02.tinc-core-vpn
  mesos_zk_node03: &mesos_zk_node03 '10.254.100.3' # mesos-zk-03.tinc-core-vpn
  # zookeeper connection string
  zk_string: &zk_string "zk://10.254.100.1:2181,10.254.100.2:2181,10.254.100.3:2181/mesos"
  tinc_domain: 'tinc-core-vpn' # which domain to use for TINC ip addresses
  mesos_dns_resolver1: '10.254.0.1' # DNS NS for the TINC network
  mesos_dns_resolver2: '10.254.0.2' # DNS NS for the TINC network
  elasticsearch_url: 'http://10.254.100.19:9200' # elasticsearch endpoint
  tinc_interface: 'tinc.core-vpn' # name of the network interface for TINC
  tinc_compression: '6' # compression level for TINC traffic
  etc_hosts_entries: |
    # at boot, DNS is not yet available for our Tinc VPN 
    # as a work a workaround lets use IP addresses for now.
    192.168.56.101 core01
    192.168.56.102 core02
    192.168.56.103 core03
  dns_nameserver_01: '10.254.100.1'
  dns_nameserver_02: '10.254.100.2'
  dns_nameserver_03: '10.254.100.3'
  tinc_core_node01_tinc_ip_address: '10.254.0.1'
  tinc_core_node01_fqdn: '192.168.56.101'
  tinc_core_node01_public_key: |
    -----BEGIN RSA PUBLIC KEY-----
    MIICCgKCAgEAozzeSS7NSQsb3s9vJS1rJAV3Z4c9ib422bAEOeK8oGcKjTKxFtaE
    9FNGT+wmvwqYz/I81YlB4MIcHojLx94PGXq8lef1awtiekpS23yeanwLFN0esPET
    Dsj51nWQ65QVcxN8cp6UODGlq8SYF8ikkkNiLyeDJabDKf8RQk5B1HhUHLbhyxJc
    FyqRiEXsBELCKVqBZEGTYeKqx8IatIfpIY0v9ddapsUQsELwSY3dLxI55sHDV5zk
    0wU3gpq1Ht6I030nxCPJ9gXXOTF6pwWUdYZyGXGnVbVRMPcxu4jfukuxf8jIWDwe
    2Iw+PRUPOl11/4sjULtqd71l8eh90I4FTAG20sHixatb4APYm7v4UXDrs57IU3PF
    NGOSYSQFDLPxRWpmtn/tY3IC5ILNXjvjWRdWIqrzz1ozzthvsqYMyqBZf8RQFN9j
    PKfK/oakrAhbBBZ4unKQD7Li3gfzUmDANy1mQXEkIjpfCLiq1C3lKkf1VnTPr9DJ
    315Acc8p6TIr+olFZVM7Fg6wCflrswJVYXy3wd9U+pfDK4d6/1va8K+2zQH9c2gE
    jy+PxPRYL0yn8EhPGc6z9Q7jFVuKOkgRDLDMmheLUAAYvhJj6d6MSDbWR5zShIds
    84wj88+90J2P+CrPbnhn7N78dfxTshR0wTAZQgUvJsqgDkRLovOTxmECAwEAAQ==
    -----END RSA PUBLIC KEY-----
  tinc_core_node02_tinc_ip_address: '10.254.0.2'
  tinc_core_node02_fqdn: '192.168.56.102'
  tinc_core_node02_public_key: |
    -----BEGIN RSA PUBLIC KEY-----
    MIICCgKCAgEA1pZWhTHR20c98RkwbHjvrVlDziK49c4nlaz1IxG3byLCKCVxNWt5
    YQFC+cPI+paMO3zWTWAF05b7yKfDLYfWXJU79EBL4kkYldAzTrUawMRYSJtItbrS
    LtEvfPBP0L82FgB/Jz7MyGU6tgnPOtMoDkO6fSLCbVKBraIAfs+uxYFjjjp7nRFA
    Atj/8iKDYOoF5Rpkd3jDpRnBUMU5jfJJiMnKK6v0cWWPmRCySdP4nkBseeibi3r3
    apuZMS59eGsBQRkJCpmGU3aQKPVYO79l+W+cWJyNspoEe7/i8uQT0fhQDInnycZu
    lrDlfY3/CkSyH0qkg9RDfE5DFfrLS4cuLdmu1ishWRLR3ANwxAExc5j7sgmveBnD
    Bj6aGG+xRirdrbyODMUxRewjkbSCZDjjIsWHPaGcK0WK+8Ri/o+xucsFnrCclEfd
    Xj7+uxdvq/8IMNGsUADhy4rjwdizNnsqPdfeJGIAgBi1of1tqpttEyLyzq0OQ27+
    jVkO7IXfq/EQR0c8hdU/D9DTD6mkVy71ScExKwcY9nUn40ssvu2cmkktuM0lq/JV
    WAxzMgL9PVcuHgd5IeusgW9qZk2wkqlKdYQIRhVgy1JFlqvMNYSqN28iIPuWWUuq
    oTzQuL7LdRO9TC6gS+JCrP03GAqpNS+q84BIXT/DJpi2+nJGkREbHd8CAwEAAQ==
    -----END RSA PUBLIC KEY-----
  tinc_core_node03_tinc_ip_address: '10.254.0.3'
  tinc_core_node03_fqdn: '192.168.56.103'
  tinc_core_node03_public_key: |
    -----BEGIN RSA PUBLIC KEY-----
    MIICCgKCAgEAlimDWppur7zym2LHca10GRipVSVTz4XSPE4bEEsjI3pGkUAt1s/9
    FlGJ3IiMtCOkbOsG3eaNK6zbYisl/n+j29EAe47U3ESzz2Mq2R4loJEJHLbuCknu
    edmUMtTT4dUIM4iJSAIQwqr7bTMID470xITkkK9yxG0LUtE0Wo73PW9Y6lm4nwKU
    9fQwCbkUAtXRR8k5z95v+l4P5G395qeG0MdZ4TlVWu+PzdMeV/uAl/tiWyGDWfkD
    6bZBsrb+89skR302ibEIf/WCWa0Gnrd5bC8SwAWI47VocF0pybWD9ImvhB4TkYHf
    mRp2k+cWxqi9IU/lCz1PTME9CaFteadYkE6mijcGPEC62QnF+jLE85vulwr9g0Lf
    yOKGgC0gqw0PgjShoQalcvD+9c+I76mEiX6NnNxIIJ5m/+Jgdn4dwh3rNc9R/R+k
    4Gs5dgf8u/1VAmXdkXpTjN/aJtwt7FOo1lkY5cYL8lIxV3xwOnYd6m3cL9dwCK97
    4mLTcJFjsRZSmTUXm9xCqZ/EYmSXviEodulvsnl8fO/1JjVxxNaV25LE71nSvF9F
    k3ud6ALnTFlKl+UrtWY199ODqK1S8lbTkso/ebLAN0zDdXXbD9KVpsSAUuNQRwop
    gpyzPAVIL9gQX373tY8y7al4cVg6hq2FHxJlAWtikFQA3dXRVH4Ix0sCAwEAAQ==
    -----END RSA PUBLIC KEY-----
  # on vagrant you'll have to disable virtualbox
  enable_virtualbox: true


# [mesos_masters:] contain the list of mesos masters (3)
mesos_masters:
  node01:
    <<: *common
    ssh_connection_string: 'root@192.168.56.201' # SSH connection string
    public_ip_address: '192.168.56.201'
    public_fqdn: '192.168.56.201'
    hostname: 'mesos-zk-01' # hostname to use
    tinc_ip_address: '10.254.100.1' # TINC ip address to assign
    tinc_hostname: 'mesos_zk_01' # TINC hostname to use
    public_ip_netmask: 24
    default_gateway: '10.0.2.2'
    public_interface: 'enp0s8'
    zookeeper_id: 0 # zookeeper id
    # TINC public key
    tinc_public_key: |
      -----BEGIN RSA PUBLIC KEY-----
      MIIBCgKCAQEAsvAAhroOq6Gb9zBljkRejQierqg5aw3UI05biMYp3n5JZ/v9M7iV
      u8dFe9mcJHSJmSIWWKGMAlCvpLfY7DAo4yq17QE49EN6sAbkfEujNu4po04BWsg5
      3rjofesn5/X0Hexx62p/DT1sMNGXAKfF0q4SZfw3o5EiHNa81ZCLYzC4S3XdEt64
      tmT7APAsFNdgHTKA2G0RuRg6rSLK+UwDhGAk5tZLYA1d4JPSjrvyobEXQtOGhWU7
      QlJ9I1ZQnrWsB8B3/DiwIkqn6QGy+kVt4KBcg/3g+hy+xHQocYyLjPd5/uWt8V77
      Q4WMxn3PbRhcDnmNHkev4MGJEIPhrl+63QIDAQAB
      -----END RSA PUBLIC KEY-----
    # TINC private key
    tinc_private_key: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEAsvAAhroOq6Gb9zBljkRejQierqg5aw3UI05biMYp3n5JZ/v9
      M7iVu8dFe9mcJHSJmSIWWKGMAlCvpLfY7DAo4yq17QE49EN6sAbkfEujNu4po04B
      Wsg53rjofesn5/X0Hexx62p/DT1sMNGXAKfF0q4SZfw3o5EiHNa81ZCLYzC4S3Xd
      Et64tmT7APAsFNdgHTKA2G0RuRg6rSLK+UwDhGAk5tZLYA1d4JPSjrvyobEXQtOG
      hWU7QlJ9I1ZQnrWsB8B3/DiwIkqn6QGy+kVt4KBcg/3g+hy+xHQocYyLjPd5/uWt
      8V77Q4WMxn3PbRhcDnmNHkev4MGJEIPhrl+63QIDAQABAoIBAHeoy5FNBtZ7okLx
      WFiFG/2QUB1YXd1bSAu8MLYMXp9tMEWbW72kqG0EW1DxOtueGw4On4bxsSEzN+Id
      F7EKm60eOL6fXKjsHzVrxovgQOtQ5QNR/NHqp9hrKv5ZrTwPXApOvffCJeiCtMEI
      x8QmbcHvqloNCmAVhAxpBaqDmNLg+XZnp74el26dxUs/+Eooio3OVSkjuhem0OLH
      oijijp6dhKw5ssNSWCh+Nshz9UrmewgGSJB2BilVFdqz5YyU6OQVIefXN4lD3Xuf
      jjM4xlPB0zkkeIe5pyDUQCocjx/cV0ULPqFKeCwOALqjOYPl9BOKFkH3H2MzVtid
      xXIYbAECgYEA2L54iW6LnWjp6reLpMexTTgN+3FwVJ67aly8KCXdJL8v48QmBHfa
      YoBwYsjkhJfyLMlPO4Lg74t4puo7SVsVVzffzKhTGuwjnmzKXw7k7sSgjZkJAmHI
      918eE0Sopsg1zyqRcAvYa7IUD3fmmsNmbeejZ+AOJ+vHiyU7lI8F8oECgYEA01iZ
      MdJ7AVZCTG8qrd1gdYdohQgSq9z3IyJVYxgxRVwUZUtmb/oaH93yHfe1xhufFNIu
      A4sSIU9w95n0mltE5Rv3TGa1+uTMcjLy3nhYQFL8+bGV0nSoybTIBFayp/VY8C5C
      KLmC0FhKjAL4PX0DKMcbz05KuEwoxMGtXeNBol0CgYEAjv8rO1DJn/Kl0YuDABYX
      reB7qRawi8Ol1oiUQtCoVCQnDlhM1MnWNQKUIzhzO9+bkVzHf3XbvW8BDO6gasdD
      DyX362hqW+rLnSwdYBXNiJIFcyYyQXYORtZkW0YDFvYkOifViFzoTjVQ8tuiMx0T
      qRMYReIWtNPj9LN92Yd63wECgYEAmYmlCY/qsqby1UpxjAvmtptfsD2UKu0FUa3w
      sGPz73qcipZDXhgpAHuiGGlL0hdg86RZr1NKIY7v98EN9VFW9MbjWsrHa/TqHhCr
      Zjmxi1F+3PtJZ7I+qQK/yH8fnWtdaGeCwsk6opdx2NOTekAmmmpD5s/u8oLJn19A
      zpN5rDUCgYA5m8+Nt2hMcoZEPuEgT5mwysm+ggsPoTz5mwJqi+oti2qEOd6sbhRG
      XHkNRv3mzgp0Kj2iPUqlJPc2QY7e6YsBGs4SsjDjmHA30PmZs6YgwmCHL8WvwUHF
      R3ASqnqq5k7d4PAuB56wXi0VQuXHhiOmRFxgi0O2992jgFZ0jU7CQg==
      -----END RSA PRIVATE KEY-----

  node02:
    <<: *common
    ssh_connection_string: 'root@192.168.56.202' # SSH connection string
    public_ip_address: '192.168.56.202'
    public_fqdn: '192.168.56.202'
    hostname: 'mesos-zk-02'
    tinc_ip_address: '10.254.100.2'
    tinc_hostname: 'mesos_zk_02'
    public_ip_netmask: 24
    default_gateway: '10.0.2.2'
    public_interface: 'enp0s8'
    zookeeper_id: 1 
    tinc_public_key: |
      -----BEGIN RSA PUBLIC KEY-----
      MIIBCgKCAQEAyuEFW+DPPsKMGFQkjUIiZvzRmkDibb/pdYaZR+LTEGjRh8pjK9nO
      308vn7e9ShGIaz5dWuIa2F5NAvNhCBQKmC69ygKuFOTXeZhozwr6SpIviULqWNIq
      HkZeh4J2mWqsg5Rl1yVlJSFHzmciC0PMKH/PcQ7H6TBTGqpIDKSV+dsTVCGyUEL0
      THLMffxHd+rCv1zoTVJsTKW/1mnTZuhTcCY/UUKsSAeO8d6BZwj2Wb/algCVZj+N
      5Q+0lF312irXtTyYGu3i9Ga3aFOyaO6XBFZXrJFIAVN0VmavhD7L5/4L8MO+J6a8
      ZKOu4uvHRDyepYIxhAXFqC2ZqYfhIJa9/QIDAQAB
      -----END RSA PUBLIC KEY-----
    tinc_private_key: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpQIBAAKCAQEAyuEFW+DPPsKMGFQkjUIiZvzRmkDibb/pdYaZR+LTEGjRh8pj
      K9nO308vn7e9ShGIaz5dWuIa2F5NAvNhCBQKmC69ygKuFOTXeZhozwr6SpIviULq
      WNIqHkZeh4J2mWqsg5Rl1yVlJSFHzmciC0PMKH/PcQ7H6TBTGqpIDKSV+dsTVCGy
      UEL0THLMffxHd+rCv1zoTVJsTKW/1mnTZuhTcCY/UUKsSAeO8d6BZwj2Wb/algCV
      Zj+N5Q+0lF312irXtTyYGu3i9Ga3aFOyaO6XBFZXrJFIAVN0VmavhD7L5/4L8MO+
      J6a8ZKOu4uvHRDyepYIxhAXFqC2ZqYfhIJa9/QIDAQABAoIBAQCVmMl/z0xiRchR
      5DGzq5F8iW3xJWkRblKyo5aBKGNkFTZzv6vS2N+vUE+YoT7F0BnconbqHhGXfCmj
      RF1HPKf3QXgW7lT4+Sld8yFNkhWvSQ4eU6ZD6my+ODtaBrx3Me6Vc6aIt31WnKy7
      KNc0oUB4mI4ZGsIUU9rjra5FDFO+kRdxXXhrhaw/RpSEQyF4Ajbszb4N7B/a07uZ
      viCLiB0woo/tZspzynQWT/gQ1WZ35PVrlsv2rkT9ueJL0MaAEOaPFr+d+AoYcm+m
      LSXfWM47olVtEDCV6tcIJufM4LY4O5AH+J2XGAUAvVavETBHkxSDocHg6C/opTVw
      bz55AfnhAoGBAPvTSZp5TMzbxjvB+Hxk/S4H+9nPuYhOS0iT0RAavYZ7bR0D9JGZ
      GROBq5ur5RcdIwJjUE62l8qhEfIfbdLUJ8tgTH/s7nQQE3UpuuoQY07c27vUx5nr
      CRylZ4GnIJx19KIIOob/ROS3vV2lp/9VybDfsZycRlj+OblqKeSqcxEZAoGBAM4+
      AwJPkuAgPQB5hd0EBc0hAc27GusGCBaH/VrcHJl+DlSET2cjeJO/5MH9dOUoY9Y6
      0FFLYNz8HFC0tr4N/N42TQ5ROk22F2hRx65I90c4MzWOr1D/29Jhd15Ioe7KSdRY
      9JOCjsZq4tsZMJCzigqKGwjqjhhvYMEbCe6J1TyFAoGBALlF/TwKjIeYFmO21TPo
      NSGdvBzHKLBxMhBGuKTJl7EOs/uKAnDwm7NvTqusr1LvG+fQ26/dxRXOpV5m4y0e
      69xEkGP6FIINpdMojZ1Ry06lTYEHDodelgieZOXN6T9TxVVFCpJx0uUXjdoNW+mO
      22InYgxgKZ2mBSA2THYxNZFZAoGBALudids2TCR670NZST8vg5+BYUSn6urWB9GH
      UCCxj4rKM3sLCbiHeg7eR9l5GjfEsF2YDx2E9s7QwWlhm8P0sY3r09ksZ19+QHjz
      vDR9yAUPyPX1oOKMfoo5g/9PD5BMkTEM4yC1afByF4C8v4NC8FZ6H/HSfgUYfOnu
      EPDgjgyJAoGAMvbp2Yy8RVT05x/WmDTqzAleeH8n0OzZXh/KgK2qvYn7BQiKWaBJ
      lm9qfECT5zIa4EfCKoxvDOfjq4GyAtIGVZtvATsfyYnaPCoB2FsBPFUymUZ0S3Ul
      3vyMz667NxXPvFG1jvG7cBXlouqCKObrrhI4XBPFJvAOZ7sLc/egcug=
      -----END RSA PRIVATE KEY-----

  node03:
    <<: *common
    ssh_connection_string: 'root@192.168.56.203' # SSH connection string
    public_ip_address: '192.168.56.203'
    public_fqdn: '192.168.56.203'
    hostname: 'mesos-zk-03'
    tinc_ip_address: '10.254.100.3'
    tinc_hostname: 'mesos_zk_03'
    public_ip_netmask: 24
    default_gateway: '10.0.2.2'
    public_interface: 'enp0s8'
    zookeeper_id: 2 
    tinc_public_key: |
      -----BEGIN RSA PUBLIC KEY-----
      MIIBCgKCAQEAthCd7Omce/nHG7MyPDqYt9E5SzyC8gh3YHMPLdedsf7vgIQwPVs4
      qU0JlvADuM+Z99j4eAHKDEeCzagx4XV2GNVkhQcBiis31i/qoVwZHuAuAWCgzaFD
      X4QOMgC9mU7G2oOiOaAhbs/NynWq5lTtj+s60sIclYxv5wsy5FJ1S3I9UgvG+cRH
      bJKX4giWVPAWsYo4RYOnQiSKt1+3JyXJcUbHuLjRAMuX4ORWFTayFaRMXpfiPmbu
      rUIJVzpPrR2VWdI5WfnjmUu+4+Oi3fLdIOyRJlZtXnbbwKUjueaUH4oBnNIluzRK
      U+NdiEinxpvMuSOmQvy5EPL6WmJQ981ZYwIDAQAB
      -----END RSA PUBLIC KEY-----
    tinc_private_key: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEAthCd7Omce/nHG7MyPDqYt9E5SzyC8gh3YHMPLdedsf7vgIQw
      PVs4qU0JlvADuM+Z99j4eAHKDEeCzagx4XV2GNVkhQcBiis31i/qoVwZHuAuAWCg
      zaFDX4QOMgC9mU7G2oOiOaAhbs/NynWq5lTtj+s60sIclYxv5wsy5FJ1S3I9UgvG
      +cRHbJKX4giWVPAWsYo4RYOnQiSKt1+3JyXJcUbHuLjRAMuX4ORWFTayFaRMXpfi
      PmburUIJVzpPrR2VWdI5WfnjmUu+4+Oi3fLdIOyRJlZtXnbbwKUjueaUH4oBnNIl
      uzRKU+NdiEinxpvMuSOmQvy5EPL6WmJQ981ZYwIDAQABAoIBAATsNhjtyBliC4wo
      MDeIrhBqS85I+JFqwS+ObN6kcdMaPYeQC23dRY7uUlAOdUtN8a/N4gn8omXqmRLO
      dWrPLj5Fps4h/lyqBnx4FzP9tYAsN5I59p8YuSWgAHJBqt62TpIh9QTx23WPkNTk
      kZZgvXuitJh2PyecAHqSxvF9eUZs6JaYBxZNdiYFFxK4ALuvIZ3c8/3Zhcsu6Fem
      z9eYEfp+ay7BA+yOM+pplR8NwmmtI1JENNh9yjXzy/jTumLQ0NMHM2jzWdGzFp1p
      UoDX6sQAvqYvxtjhIEBsCQHKITIJLMLGg1AFUThhYJa8i9DPGh0FSmmeYq6UPYmR
      JVS6pcECgYEA75V7VU+rdLXo8AVJWsQIjohh5mOsS+3yM0pJ6ejs7uBNyH4RkLY1
      ocKviED5EHWNvskuPUj+QjPDHxzGAN8CxUS3R2a/YsYg+h0V3ohf/hYSczFQkSHM
      AZtTklKphS47wkPBi5o2xFM+qmEUwyN/aM2ij69/eUSlFABk2HOMRokCgYEAwooz
      KavAV7NOMWzFqyRIbW9JkZ8qn2qh8MWfaOwtEawTVlG9ZshBheu25NouZQeX2ocI
      sGpWXn+P+Sm9O/IMavnw/FR9tv5gd0TKT94uYH+ndV8AgpIyfXYuHGiE3KSu7Uvg
      6hZ/XeI36zDc17ph5DDvi3cO1MBTFXn2sgiXZYsCgYEAlnJl6mKHJlj9F4waTjb/
      sJGP+J7qmRuolfC2jX5JGpAcCCSyXw8sipG4rHUwcdd/1Sh8MtvdXjEm/CiTZgSk
      tr+538pzsFD+cFFHZGB69xFhMJjtINX6R6AEUMQ703f+6rSlm0aR0aL8nP0tjoSC
      A4vt4xCvmbUzfGXq7clRcxECgYBs3/d+TNcavgj29E80VtwKEwxzaUbrbTwwigmL
      KRKYH1u7JYgAq/avwpnbPphUholgDc65HOo1fOLQqaF0mSSGAlfygD7TWU4XsfIf
      /NKrwwWvVHnumW+Uc72evIgPDEOyHpNDr0+c9WwiPnh6a585nIGT5g/w1aoqDNYa
      EWDZvQKBgExWeV8rN8Skkc81NdXwIJTYTaiswbLc0fycZdbdget7vm7OwCw/PSQR
      Rz+W6+qlKxEiVh2ghegElsE1fy3M7uShdAc4Peei2bZeMR4Emkj0y2gqgDLkf48v
      QE7NgfYEZ9dZsbdfEzd9xB+RKaFrs3VeIfSWiObxiH5ou8XysEGw
      -----END RSA PRIVATE KEY-----


mesos_slaves:
  node01:
    <<: *common
    ssh_connection_string: '192.168.56.204' # SSH connection string
    hostname: 'slave'
    tinc_hostname: 'slave'
    tinc_ip_address: '10.254.100.19'
    public_ip_address: '192.168.56.204'
    public_fqdn: '192.168.56.204'
    default_gateway: '10.0.2.2'
    public_interface: 'enp0s8'
    public_ip_netmask: 24
    tinc_public_key: |
      -----BEGIN RSA PUBLIC KEY-----
      MIIBCgKCAQEA4p8OuuUaiw4TorLyZLxn3Xx1NVxcyqD5EwrslGJnKIkQrPuFb8Y8
      hJN7tiJRKh/DFhh4PT8+e7IR+JtSvq4z879PWAe2suwAFnC2lyEDKn0TvuOachON
      ZiTwPrXOr5CxoBxNunS+9Mipzu6Go+PrRPejza1hBAIZY1q8voPwaiGmbKTOg1xp
      5UB5+RsOKgMoPsV0+ZakCuMY1ccgLSvAgwhImI01tv8OKYNgr4ipBM9hVV3oTj3e
      c27sY8Sv7YaOnqlZpcphiHEkpZSgC5EngHq+80uNtf/CjfpihZbWN2Wn3l/3MA8f
      bhxEqnOfvT7OMhZUDNo5ny8A8C+dZBh81QIDAQAB
      -----END RSA PUBLIC KEY-----
    tinc_private_key: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEA4p8OuuUaiw4TorLyZLxn3Xx1NVxcyqD5EwrslGJnKIkQrPuF
      b8Y8hJN7tiJRKh/DFhh4PT8+e7IR+JtSvq4z879PWAe2suwAFnC2lyEDKn0TvuOa
      chONZiTwPrXOr5CxoBxNunS+9Mipzu6Go+PrRPejza1hBAIZY1q8voPwaiGmbKTO
      g1xp5UB5+RsOKgMoPsV0+ZakCuMY1ccgLSvAgwhImI01tv8OKYNgr4ipBM9hVV3o
      Tj3ec27sY8Sv7YaOnqlZpcphiHEkpZSgC5EngHq+80uNtf/CjfpihZbWN2Wn3l/3
      MA8fbhxEqnOfvT7OMhZUDNo5ny8A8C+dZBh81QIDAQABAoIBAQC9FQs8QxW/ehJG
      CNqX1F8w/LvqttKxOlg3XEECmYwK1Tn1qrKuDQ/HaiqpT766z999GxOPvqoKmQvH
      iwkiEcVFFZVFFMKKTMDR+F9Qf3ndxJhqCAuALPIojJ9rI1R9RdP+jD8KWIhPQvHz
      ty7dpbhSRfEFFilBJ+M486dRqlI4qaKUNWhNgguDBHPUR3Kcpr5zA/nkQIiUPV/L
      xJsu7xpc1jJO7OuoANBiyCJ3IOqdRmY/K7JW2eUgzDeGfLvu4aHMbEXHk1d8gQlJ
      hlDcBf+Jh7dHK0mvSR1osmofWkL9IwtdYdLsK6um+i4c9VJW4is2PJzjePywHpas
      YOpu4GJhAoGBAPvoCD0wWNbBZfHKv6n+pnvYP1gADuFdJ1R90e0ySC8aNVmNWP44
      LVoW8OC0T54Jw/3UYAeRGNJLnDdvARAVKpnIMx1Nv2ArCrozFVQSSs/E8M/HBVbP
      mXoXJCWlGr2dVqszhpz2hX7j0msTU155j22LG15EudBDU77szgEdZ4GJAoGBAOZN
      1fVOmignUEcEjFH7Ay6qS06J73Jkq8wqgYiGtOBDfBs12TdC/B4nApe6+V0WXxq5
      ZHTKU8j0tOgFUnYI4eMkAlp1EtoAeHb5DRgi6OhL2dtAuwwEg180P/hbTEfCOQHv
      3aKAOBidBoIKuqpUg24T1dfN7rggvnnKh1YiycntAoGBAO60Awqog6aNASNMMq7N
      pcj5M50aAP/BHAHOcFzKJuirdx5y+H99kEwsLPlhI4joTBZ9ZroE3nZ4O4Gz6Ffr
      FsE+mmEMSWrBnpquyWkvJEEZp+/b8c0/T3oH77LUbzB6paP5YXffisSg8cWRPJDr
      s+Pjy31atpEJG5RyJQudZ3WxAoGAFvxbx3EB59IMrBnjG2ePKMAsZflUYbl0gBsZ
      9JNlSCDUKS8Vr/NKkIPaOWSa8NSDx3oLcbCj7iGmUKX/VfKLAQ2eAoM+z21OmKlA
      ylDpqA2x/7UVNhzZM85WOCZ8lYjoAa58E3TypFo/xQjnGor21yy5oiFWmyABgsxY
      95rfQv0CgYBFmVC/4mAjt63lQQjubyu8W+1E33nkXjeydtVFtOUbFWMqWtXwMyJE
      yf4otjsK6OKmG1fnWbpxOBAg7TplYW6Zib9pguTaxD82Edb6JEhOc5+K0wZYXVQt
      X55umOXkMU41bBCN5fN1eS0bkZxo3O+pXex41HE6g05xBp4DCsXrMQ==
      -----END RSA PRIVATE KEY-----

