provider "aws" {
  region     = "{{ region }}"
}


resource "aws_key_pair" "obor" {
  key_name   = "{{ key_pair }}"
  public_key = "${file("{{ key_filename }}")}"
}


data "aws_ami" "nixos" {
  most_recent = true

  filter {
    name   = "name"
    values = ["nixos-17.03.885.6024dd4067-x86_64-hvm-ebs"]
  }

  filter {
    name   = "virtualization-type"
    values = ["hvm"]
  }

  owners = ["080433136561"] # nixos-amis

}


resource "aws_security_group" "allow_all_tcp" {
  name        = "obor_allow_all_tcp"
  description = "Allow all TCP inbound traffic"

  ingress {
    from_port   = 0
    to_port     = 65535
    protocol    = "tcp"
    cidr_blocks = ["0.0.0.0/0"]
  }
}

resource "aws_security_group" "allow_all_udp" {
  name        = "obor_allow_all_udp"
  description = "Allow all udp inbound traffic"

  ingress {
    from_port   = 0
    to_port     = 65535
    protocol    = "udp"
    cidr_blocks = ["0.0.0.0/0"]
  }
}

resource "aws_instance" "mesos-zk-01" {
  ami           = "${data.aws_ami.nixos.id}"
  instance_type = "{{instance_type}}"
  associate_public_ip_address = true
  security_groups = [ "obor_allow_all_tcp", "obor_allow_all_udp" ]
  key_name = "{{ key_pair }}"

  tags {
    Name = "mesos-zk-01"
  }

  root_block_device {
    volume_size = 30
  }

  depends_on = [ 
    "aws_key_pair.obor",
    "aws_security_group.allow_all_tcp",
    "aws_security_group.allow_all_udp"
  ]
}

resource "aws_instance" "mesos-zk-02" {
  ami           = "${data.aws_ami.nixos.id}"
  instance_type = "{{instance_type}}"
  associate_public_ip_address = true
  security_groups = [ "obor_allow_all_tcp", "obor_allow_all_udp" ]
  key_name = "{{ key_pair }}"

  tags {
    Name = "mesos-zk-02"
  }
  root_block_device {
    volume_size = 30
  }

  depends_on = [ 
    "aws_key_pair.obor",
    "aws_security_group.allow_all_tcp",
    "aws_security_group.allow_all_udp"
  ]
}

resource "aws_instance" "mesos-zk-03" {
  ami           = "${data.aws_ami.nixos.id}"
  instance_type = "{{instance_type}}"
  associate_public_ip_address = true
  security_groups = [ "obor_allow_all_tcp", "obor_allow_all_udp" ]
  key_name = "{{ key_pair }}"

  tags {
    Name = "mesos-zk-03"
  }
  root_block_device {
    volume_size = 30
  }

  depends_on = [ 
    "aws_key_pair.obor",
    "aws_security_group.allow_all_tcp",
    "aws_security_group.allow_all_udp"
  ]
}

resource "aws_instance" "mesos-slave" {
  ami           = "${data.aws_ami.nixos.id}"
  instance_type = "{{instance_type}}"
  associate_public_ip_address = true
  security_groups = [ "obor_allow_all_tcp", "obor_allow_all_udp" ]
  key_name = "{{ key_pair }}"

  tags {
    Name = "mesos-slave"
  }
  root_block_device {
    volume_size = 30
  }

  depends_on = [ 
    "aws_key_pair.obor",
    "aws_security_group.allow_all_tcp",
    "aws_security_group.allow_all_udp"
  ]
}


data "aws_route53_zone" "selected" {
  name         = "{{aws_dns_domain}}"
  private_zone = false
}


resource "aws_route53_record" "mesos-zk-01-private" {
  zone_id = "${data.aws_route53_zone.selected.zone_id}"
  name    = "mesos-zk-01-private.${data.aws_route53_zone.selected.name}"
  type    = "A"
  ttl     = "1"
  records = ["${aws_instance.mesos-zk-01.private_ip}"]
  depends_on = [ 
    "aws_instance.mesos-zk-01"
  ]
}

resource "aws_route53_record" "mesos-zk-02-private" {
  zone_id = "${data.aws_route53_zone.selected.zone_id}"
  name    = "mesos-zk-02-private.${data.aws_route53_zone.selected.name}"
  type    = "A"
  ttl     = "1"
  records = ["${aws_instance.mesos-zk-02.private_ip}"]
  depends_on = [ 
    "aws_instance.mesos-zk-02"
  ]
}

resource "aws_route53_record" "mesos-zk-03-private" {
  zone_id = "${data.aws_route53_zone.selected.zone_id}"
  name    = "mesos-zk-03-private.${data.aws_route53_zone.selected.name}"
  type    = "A"
  ttl     = "1"
  records = ["${aws_instance.mesos-zk-03.private_ip}"]
  depends_on = [ 
    "aws_instance.mesos-zk-03"
  ]
}

resource "aws_route53_record" "mesos-slave-private" {
  zone_id = "${data.aws_route53_zone.selected.zone_id}"
  name    = "mesos-slave-private.${data.aws_route53_zone.selected.name}"
  type    = "A"
  ttl     = "1"
  records = ["${aws_instance.mesos-slave.private_ip}"]
  depends_on = [ 
    "aws_instance.mesos-slave"
  ]
}

resource "aws_route53_record" "mesos-zk-01-public" {
  zone_id = "${data.aws_route53_zone.selected.zone_id}"
  name    = "mesos-zk-01-public.${data.aws_route53_zone.selected.name}"
  type    = "A"
  ttl     = "1"
  records = ["${aws_instance.mesos-zk-01.public_ip}"]
  depends_on = [ 
    "aws_instance.mesos-zk-01"
  ]
}

resource "aws_route53_record" "mesos-zk-02-public" {
  zone_id = "${data.aws_route53_zone.selected.zone_id}"
  name    = "mesos-zk-02-public.${data.aws_route53_zone.selected.name}"
  type    = "A"
  ttl     = "1"
  records = ["${aws_instance.mesos-zk-02.public_ip}"]
  depends_on = [ 
    "aws_instance.mesos-zk-02"
  ]
}

resource "aws_route53_record" "mesos-zk-03-public" {
  zone_id = "${data.aws_route53_zone.selected.zone_id}"
  name    = "mesos-zk-03-public.${data.aws_route53_zone.selected.name}"
  type    = "A"
  ttl     = "1"
  records = ["${aws_instance.mesos-zk-03.public_ip}"]
  depends_on = [ 
    "aws_instance.mesos-zk-03"
  ]
}

resource "aws_route53_record" "mesos-slave-public" {
  zone_id = "${data.aws_route53_zone.selected.zone_id}"
  name    = "mesos-slave-public.${data.aws_route53_zone.selected.name}"
  type    = "A"
  ttl     = "1"
  records = ["${aws_instance.mesos-slave.public_ip}"]
  depends_on = [ 
    "aws_instance.mesos-slave"
  ]
}